html {
    background: #111010;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 941px;
    width: auto;
    overflow: hidden;
    user-select: none;
    touch-action: manipulation;
}

body {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 130px;
}

#splitter {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 120px;
    height: 51px;
    border-bottom: #878a8c 1px solid;
    border-radius: 1px;
    width: 500px;
    z-index: 1;
    margin-bottom: 0;
}

#title {
    color: #d7dadc;
    font-size: 32px;
    letter-spacing: 3px;
}

#title:hover {
    cursor: default;
}

.pointer:hover {
    cursor: pointer;
}

#answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    z-index: 1;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile {
    width: 62px;
    height: 62px;
    border: #3a3a3c 2px solid;
    margin: 2px;
    color: #d7dadc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    perspective: 1000px;
}

#keyboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

.key_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.key {
    width: 43px;
    height: 58px;
    background: #808284;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    color: #d7dadc;
    font-size: 13.3px;
    font-weight: bold;
    outline: none;
    box-shadow: none;
}

button:active {
    border-style: outset;
    outline: none;
}

.key:hover {
    cursor: pointer;
}

#enter {
    width: 65.41px;
}

#delete {
    width: 65.41px;
}

.correct {
    background: #538d4e;
    border: none;
    width: 66px;
    height: 66px;
}

.wrong {
    background: #3a3b3d;
    border: none;
    width: 66px;
    height: 66px;
}

.contains {
    background: #b59f3b;
    border: none;
    width: 66px;
    height: 66px;
}

.bounce {
    animation-name: scaled;
    animation-duration: 0.1s;
    border: #565659 2px solid;
}

.flip_correct {
    animation-name: flipped_correct;
    animation-duration: 0.66s;
}

.flip_contains {
    animation-name: flipped_contains;
    animation-duration: 0.66s;
}

.flip_wrong {
    animation-name: flipped_wrong;
    animation-duration: 0.66s;
}

button {
    border: none;
}

button:active {
    border: none;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #538d4e;
    font-size: 15px;
}

.alert_winner {
    z-index: 2;
    width: 150px;
    height: 50px;
    position: fixed;
    background: #878a8c;
    border-radius: 7px;
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d7dadc;
    font-weight: bolder;
    font-size: 30px;
}

.alert_error {
    z-index: 2;
    width: 150px;
    height: 50px;
    position: fixed;
    background: #878a8c;
    border-radius: 7px;
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d7dadc;
    font-weight: bolder;
    font-size: 15px;
    animation-name: error;
    animation-duration: 2.5s;
}

.base {
    opacity: 0;
    z-index: 2;
    width: 150px;
    height: 50px;
    position: fixed;
    background: #878a8c;
    border-radius: 7px;
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d7dadc;
    font-weight: bolder;
    font-size: 30px;
}

#restart {
    width: 90px;
    height: 50px;
    background: #d7dadc;
    color: black;
    border-radius: 7px;
}

#restart:hover {
    cursor: pointer;
    border: 2px gray solid;
}

.endOpacity {
    opacity: 0;
}

.showFinal {
    z-index: 2;
    width: 350px;
    height: 300px;
    position: fixed;
    background: #3a3b3d;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d7dadc;
    font-weight: bolder;
    font-size: 13px;
    margin-top: 200px;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    border: 2px gray solid;
    animation-name: winner;
    animation-duration: 0.75s;
    transform: scale(1);
}

#restart:active {
    background: #a4a5a7;
}

.key_wrong {
    background: #3a3b3d;
}

#stat {
    z-index: 2;
    width: 350px;
    height: 500px;
    position: fixed;
    background: #3a3b3d;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 35px;
    color: #d7dadc;
    font-weight: bolder;
    font-size: 11px;
    margin-top: 200px;
    text-align: center;
    flex-direction: column;
    border: 2px gray solid;
    padding-top: 10px;
    visibility: hidden;
    transform: scale(1);
}

.numberStat {
    color: #538d4e;
    font-weight: bolder;
}

.rowMaker {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

@keyframes winner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes error {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes flipped_correct {
    0% {
        background: none;
        border: #878a8c 2px solid;
        width: 62px;
        height: 62px;
    }

    50% {
        transform: rotateX(180deg);
        background: none;
        border: #878a8c 2px solid;
        width: 62px;
        height: 62px;
    }

    100% {
        transform: rotateX(360deg);
        background: #538d4e;
        border: none;
        width: 66px;
        height: 66px;
    }
}

@keyframes flipped_contains {
    0% {
        background: none;
        border: #878a8c 2px solid;
        width: 62px;
        height: 62px;
    }

    50% {
        transform: rotateX(180deg);
        background: none;
        border: #878a8c 2px solid;
        width: 62px;
        height: 62px;
    }

    100% {
        transform: rotateX(360deg);
        background: #b59f3b;
        border: none;
        width: 66px;
        height: 66px;
    }
}
@keyframes flipped_wrong {
    0% {
        background: none;
        border: #878a8c 2px solid;
        width: 62px;
        height: 62px;
    }

    50% {
        transform: rotateX(180deg);
        background: none;
        border: #878a8c 2px solid;
        width: 62px;
        height: 62px;
    }

    100% {
        transform: rotateX(360deg);
        background: #3a3b3d;
        border: none;
        width: 66px;
        height: 66px;
    }
}

@keyframes scaled {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Chromebook */
@media screen and (max-width: 1366px) and (min-width: 1200px) {
    #splitter {
        gap: 15px;
    }
    html {
        height: 768px;
        width: 1366px;
    }

    .tile {
        width: 52px;
        height: 52px;
    }

    body {
        gap: 30px;
    }

    .key {
        width: 38px;
        height: 52px;
    }

    .alert_error {
        width: 130px;
        height: 35px;
        margin-top: 95px;
    }

    .alert_winner {
        width: 130px;
        height: 35px;
        margin-top: 95px;
    }

    .base {
        width: 130px;
        height: 35px;
        margin-top: 95px;
    }

    @keyframes flipped_correct {
        0% {
            background: none;
            border: #878a8c 2px solid;
            width: 52px;
            height: 52px;
        }

        50% {
            transform: rotateX(180deg);
            background: none;
            border: #878a8c 2px solid;
            width: 52px;
            height: 52px;
        }

        100% {
            transform: rotateX(360deg);
            background: #538d4e;
            border: none;
            width: 56px;
            height: 56px;
        }
    }

    @keyframes flipped_contains {
        0% {
            background: none;
            border: #878a8c 2px solid;
            width: 52px;
            height: 52px;
        }

        50% {
            transform: rotateX(180deg);
            background: none;
            border: #878a8c 2px solid;
            width: 52px;
            height: 52px;
        }

        100% {
            transform: rotateX(360deg);
            background: #b59f3b;
            border: none;
            width: 56px;
            height: 56px;
        }
    }

    @keyframes flipped_wrong {
        0% {
            background: none;
            border: #878a8c 2px solid;
            width: 52px;
            height: 52px;
        }

        50% {
            transform: rotateX(180deg);
            background: none;
            border: #878a8c 2px solid;
            width: 52px;
            height: 52px;
        }

        100% {
            transform: rotateX(360deg);
            background: #3a3b3d;
            border: none;
            width: 56px;
            height: 56px;
        }
    }

    .correct {
        background: #538d4e;
        border: none;
        width: 56px;
        height: 56px;
    }

    .wrong {
        background: #3a3b3d;
        border: none;
        width: 56px;
        height: 56px;
    }

    .contains {
        background: #b59f3b;
        border: none;
        width: 56px;
        height: 56px;
    }
}

/* iPhone 6/7/8 */
@media screen and (max-height: 667px) and (max-width: 375px) {
    #splitter {
        gap: 10px;
    }

    #stat {
        transform: scale(0.8);
        margin-top: 75px;
    }

    html {
        height: auto;
        width: auto;
    }

    .tile {
        width: 40px;
        height: 40px;
    }

    body {
        gap: 20px;
    }

    .key {
        width: 31px;
        height: 42px;
    }

    #enter {
        width: 39px;
        font-size: 10px;
    }

    .alert_error {
        width: 130px;
        height: 35px;
        margin-top: 90px;
        border: 1px black solid;
    }

    .alert_winner {
        width: 130px;
        height: 35px;
        margin-top: 90px;
    }

    .base {
        width: 130px;
        height: 35px;
        margin-top: 90px;
    }

    nav {
        gap: 50px;
    }

    @keyframes flipped_correct {
        0% {
            background: none;
            border: #878a8c 2px solid;
            width: 40px;
            height: 40px;
        }

        50% {
            transform: rotateX(180deg);
            background: none;
            border: #878a8c 2px solid;
            width: 40px;
            height: 40px;
        }

        100% {
            transform: rotateX(360deg);
            background: #538d4e;
            border: none;
            width: 44px;
            height: 44px;
        }
    }

    @keyframes flipped_contains {
        0% {
            background: none;
            border: #878a8c 2px solid;
            width: 40px;
            height: 40px;
        }

        50% {
            transform: rotateX(180deg);
            background: none;
            border: #878a8c 2px solid;
            width: 40px;
            height: 40px;
        }

        100% {
            transform: rotateX(360deg);
            background: #b59f3b;
            border: none;
            width: 44px;
            height: 44px;
        }
    }

    @keyframes flipped_wrong {
        0% {
            background: none;
            border: #878a8c 2px solid;
            width: 40px;
            height: 40px;
        }

        50% {
            transform: rotateX(180deg);
            background: none;
            border: #878a8c 2px solid;
            width: 40px;
            height: 40px;
        }

        100% {
            transform: rotateX(360deg);
            background: #3a3b3d;
            border: none;
            width: 44px;
            height: 44px;
        }
    }

    .correct {
        background: #538d4e;
        border: none;
        width: 44px;
        height: 44px;
    }

    .wrong {
        background: #3a3b3d;
        border: none;
        width: 44px;
        height: 44px;
    }

    .contains {
        background: #b59f3b;
        border: none;
        width: 44px;
        height: 44px;
    }
}

/* X/etc */
@media screen and (max-height: 812px) and (min-height: 700px) and (max-width: 375px) {
    #splitter {
        gap: 25px;
    }

    #stat {
        transform: scale(0.8);
        margin-top: 75px;
    }

    html {
        height: 812px;
        width: 375px;
    }

    .tile {
        width: 52px;
        height: 52px;
    }

    body {
        gap: 30px;
    }

    .key {
        width: 31px;
        height: 42px;
    }

    #enter {
        width: 39px;
        font-size: 10px;
    }

    .alert_error {
        width: 130px;
        height: 35px;
        margin-top: 100px;
    }

    .alert_winner {
        width: 130px;
        height: 35px;
        margin-top: 100px;
    }

    .base {
        width: 130px;
        height: 35px;
        margin-top: 100px;
    }

    @keyframes flipped_correct {
        0% {
            background: none;
            border: #878a8c 2px solid;
            width: 52px;
            height: 52px;
        }

        50% {
            transform: rotateX(180deg);
            background: none;
            border: #878a8c 2px solid;
            width: 52px;
            height: 52px;
        }

        100% {
            transform: rotateX(360deg);
            background: #538d4e;
            border: none;
            width: 56px;
            height: 56px;
        }
    }

    @keyframes flipped_contains {
        0% {
            background: none;
            border: #878a8c 2px solid;
            width: 52px;
            height: 52px;
        }

        50% {
            transform: rotateX(180deg);
            background: none;
            border: #878a8c 2px solid;
            width: 52px;
            height: 52px;
        }

        100% {
            transform: rotateX(360deg);
            background: #b59f3b;
            border: none;
            width: 56px;
            height: 56px;
        }
    }

    @keyframes flipped_wrong {
        0% {
            background: none;
            border: #878a8c 2px solid;
            width: 52px;
            height: 52px;
        }

        50% {
            transform: rotateX(180deg);
            background: none;
            border: #878a8c 2px solid;
            width: 52px;
            height: 52px;
        }

        100% {
            transform: rotateX(360deg);
            background: #3a3b3d;
            border: none;
            width: 56px;
            height: 56px;
        }
    }

    .correct {
        background: #538d4e;
        border: none;
        width: 56px;
        height: 56px;
    }

    .wrong {
        background: #3a3b3d;
        border: none;
        width: 56px;
        height: 56px;
    }

    .contains {
        background: #b59f3b;
        border: none;
        width: 56px;
        height: 56px;
    }

    nav {
        gap: 50px;
    }
}
